In [1]:
# 1. Print 

print('Hello from Jupyter')

# Define variable
str1 = 'Hello'
int1 = 20

print(str1)
print(int1)


str1

Hello from Jupyter
Hello
20

'Hello'

In [18]:
# 2. Conditionals:
number_of_employees = 45

if number_of_employees < 1:
    print('You have no employees')
elif number_of_employees == 1:
    print('You have one employee')
elif number_of_employees < 50:
    print('You have a few employees')
else:
    print('You have many employees!')

You have a few employees

In [19]:
# 3. Lists


employees_names = ['Ahmed','Ali','Mohamed','Omar','Salem']


employees_names[1]

'Ali'

In [20]:
# Print first item:
employees_names[0]

'Ahmed'

In [21]:
# Print last item:
employees_names[-1]

'Salem'

In [22]:
# Get a subset of the list items:

employees_names[0:2]

['Ahmed', 'Ali']

In [23]:
# Slicing from the beginning of the list:
employees_names[:2]

['Ahmed', 'Ali']

In [24]:
# Slicing to the end of the list:
employees_names[2:]

['Mohamed', 'Omar', 'Salem']

In [25]:
# 3.2 Mutable
# Add items to the end of the list:
employees_names.append('Maged')
employees_names

['Ahmed', 'Ali', 'Mohamed', 'Omar', 'Salem', 'Maged']

In [32]:
# delete items:
del employees_names[2]
employees_names

['Ahmed', 'Ali', 'Omar', 'Salem', 'Maged', 'Fahad']

In [33]:
# 3.3 Non-unique
# Add the same name to list:
employees_names.append('Fahad')
employees_names.append('Fahad')
employees_names.append('Mohamed')
employees_names

['Ahmed',
 'Ali',
 'Omar',
 'Salem',
 'Maged',
 'Fahad',
 'Fahad',
 'Fahad',
 'Mohamed']

In [34]:
# 4. Loops

for employee_name in employees_names:
    print('Hello ' + employee_name + '!')

Hello Ahmed!
Hello Ali!
Hello Omar!
Hello Salem!
Hello Maged!
Hello Fahad!
Hello Fahad!
Hello Fahad!
Hello Mohamed!

In [36]:
# 4.2 Loops, lists, and conditionals
# Initialize an empty list and add to it the
# student names containing more than five characters
long_names = []
for employee_name in employees_names:
    # This is our criterion
    if len(employee_name) > 5:
        long_names.append(employee_name)

long_names

['Mohamed']

In [38]:
# 4.3 Nested loops
employee_pairs = []
for employee_name_0 in employees_names:
    for employee_name_1 in employees_names:
        employee_pairs.append(
            (employee_name_0, employee_name_1)
        )

employee_pairs

[('Ahmed', 'Ahmed'),
 ('Ahmed', 'Ali'),
 ('Ahmed', 'Omar'),
 ('Ahmed', 'Salem'),
 ('Ahmed', 'Maged'),
 ('Ahmed', 'Fahad'),
 ('Ahmed', 'Fahad'),
 ('Ahmed', 'Fahad'),
 ('Ahmed', 'Mohamed'),
 ('Ali', 'Ahmed'),
 ('Ali', 'Ali'),
 ('Ali', 'Omar'),
 ('Ali', 'Salem'),
 ('Ali', 'Maged'),
 ('Ali', 'Fahad'),
 ('Ali', 'Fahad'),
 ('Ali', 'Fahad'),
 ('Ali', 'Mohamed'),
 ('Omar', 'Ahmed'),
 ('Omar', 'Ali'),
 ('Omar', 'Omar'),
 ('Omar', 'Salem'),
 ('Omar', 'Maged'),
 ('Omar', 'Fahad'),
 ('Omar', 'Fahad'),
 ('Omar', 'Fahad'),
 ('Omar', 'Mohamed'),
 ('Salem', 'Ahmed'),
 ('Salem', 'Ali'),
 ('Salem', 'Omar'),
 ('Salem', 'Salem'),
 ('Salem', 'Maged'),
 ('Salem', 'Fahad'),
 ('Salem', 'Fahad'),
 ('Salem', 'Fahad'),
 ('Salem', 'Mohamed'),
 ('Maged', 'Ahmed'),
 ('Maged', 'Ali'),
 ('Maged', 'Omar'),
 ('Maged', 'Salem'),
 ('Maged', 'Maged'),
 ('Maged', 'Fahad'),
 ('Maged', 'Fahad'),
 ('Maged', 'Fahad'),
 ('Maged', 'Mohamed'),
 ('Fahad', 'Ahmed'),
 ('Fahad', 'Ali'),
 ('Fahad', 'Omar'),
 ('Fahad', 'Salem'),
 ('Fahad', 'Maged'),
 ('Fahad', 'Fahad'),
 ('Fahad', 'Fahad'),
 ('Fahad', 'Fahad'),
 ('Fahad', 'Mohamed'),
 ('Fahad', 'Ahmed'),
 ('Fahad', 'Ali'),
 ('Fahad', 'Omar'),
 ('Fahad', 'Salem'),
 ('Fahad', 'Maged'),
 ('Fahad', 'Fahad'),
 ('Fahad', 'Fahad'),
 ('Fahad', 'Fahad'),
 ('Fahad', 'Mohamed'),
 ('Fahad', 'Ahmed'),
 ('Fahad', 'Ali'),
 ('Fahad', 'Omar'),
 ('Fahad', 'Salem'),
 ('Fahad', 'Maged'),
 ('Fahad', 'Fahad'),
 ('Fahad', 'Fahad'),
 ('Fahad', 'Fahad'),
 ('Fahad', 'Mohamed'),
 ('Mohamed', 'Ahmed'),
 ('Mohamed', 'Ali'),
 ('Mohamed', 'Omar'),
 ('Mohamed', 'Salem'),
 ('Mohamed', 'Maged'),
 ('Mohamed', 'Fahad'),
 ('Mohamed', 'Fahad'),
 ('Mohamed', 'Fahad'),
 ('Mohamed', 'Mohamed')]

In [39]:
# Filter out repeat of name:

employees_pairs = []
for employee_name_0 in employees_names:
    for employee_name_1 in employees_names:
        # This is the criterion we added
        if employee_name_0 != employee_name_1:
            employees_pairs.append(
                (employee_name_0, employee_name_1)
            )

employees_pairs

[('Ahmed', 'Ali'),
 ('Ahmed', 'Omar'),
 ('Ahmed', 'Salem'),
 ('Ahmed', 'Maged'),
 ('Ahmed', 'Fahad'),
 ('Ahmed', 'Fahad'),
 ('Ahmed', 'Fahad'),
 ('Ahmed', 'Mohamed'),
 ('Ali', 'Ahmed'),
 ('Ali', 'Omar'),
 ('Ali', 'Salem'),
 ('Ali', 'Maged'),
 ('Ali', 'Fahad'),
 ('Ali', 'Fahad'),
 ('Ali', 'Fahad'),
 ('Ali', 'Mohamed'),
 ('Omar', 'Ahmed'),
 ('Omar', 'Ali'),
 ('Omar', 'Salem'),
 ('Omar', 'Maged'),
 ('Omar', 'Fahad'),
 ('Omar', 'Fahad'),
 ('Omar', 'Fahad'),
 ('Omar', 'Mohamed'),
 ('Salem', 'Ahmed'),
 ('Salem', 'Ali'),
 ('Salem', 'Omar'),
 ('Salem', 'Maged'),
 ('Salem', 'Fahad'),
 ('Salem', 'Fahad'),
 ('Salem', 'Fahad'),
 ('Salem', 'Mohamed'),
 ('Maged', 'Ahmed'),
 ('Maged', 'Ali'),
 ('Maged', 'Omar'),
 ('Maged', 'Salem'),
 ('Maged', 'Fahad'),
 ('Maged', 'Fahad'),
 ('Maged', 'Fahad'),
 ('Maged', 'Mohamed'),
 ('Fahad', 'Ahmed'),
 ('Fahad', 'Ali'),
 ('Fahad', 'Omar'),
 ('Fahad', 'Salem'),
 ('Fahad', 'Maged'),
 ('Fahad', 'Mohamed'),
 ('Fahad', 'Ahmed'),
 ('Fahad', 'Ali'),
 ('Fahad', 'Omar'),
 ('Fahad', 'Salem'),
 ('Fahad', 'Maged'),
 ('Fahad', 'Mohamed'),
 ('Fahad', 'Ahmed'),
 ('Fahad', 'Ali'),
 ('Fahad', 'Omar'),
 ('Fahad', 'Salem'),
 ('Fahad', 'Maged'),
 ('Fahad', 'Mohamed'),
 ('Mohamed', 'Ahmed'),
 ('Mohamed', 'Ali'),
 ('Mohamed', 'Omar'),
 ('Mohamed', 'Salem'),
 ('Mohamed', 'Maged'),
 ('Mohamed', 'Fahad'),
 ('Mohamed', 'Fahad'),
 ('Mohamed', 'Fahad')]

In [41]:
# 5. Tuples
student_grade = ('Ali', 'C#', 'A-')
student_grade

('Ali', 'C#', 'A-')

In [42]:
# 5.2 Unpacking

student_grade = ('Ali', 'C#', 'A-')
student_name, subject, grade = student_grade

print(student_name)
print(subject)
print(grade)

student_grades = [
    ('Ali', 'Java', 'A'),
    ('Mohamed', 'C++', 'C'),
    ('Omar', 'ADB', 'B+'),
    ('Malek', 'Apm', 'A-'),
]

for student_name, subject, grade in student_grades:
    if grade.startswith('A'):
        print('Congratulations', student_name,
              'on getting an', grade,
              'in', subject)

Ali
C#
A-
Congratulations Ali on getting an A in Java
Congratulations Malek on getting an A- in Apm

In [45]:
# 6. Dictionaries
stu_subjects = {
    'Ali': 'Java',
    'Basem': 'C#',
    'Maged': 'OS',
    'Haytham': 'SE',
}
stu_subjects['Maged']

'OS'

In [46]:
# Check if a particular key is in a dictionary:
'Zeiad' in stu_subjects

False

In [47]:

# Add an entry that doesn't exist
stu_subjects['Sameh'] = 'Apm'
stu_subjects

{'Ali': 'Java', 'Basem': 'C#', 'Maged': 'OS', 'Haytham': 'SE', 'Sameh': 'Apm'}

In [48]:
# Delete an entry that exists
del stu_subjects['Basem']
stu_subjects

{'Ali': 'Java', 'Maged': 'OS', 'Haytham': 'SE', 'Sameh': 'Apm'}

In [49]:
# Change an entry that does exist
stu_subjects['Sameh'] = 'Python'
stu_subjects

{'Ali': 'Java', 'Maged': 'OS', 'Haytham': 'SE', 'Sameh': 'Python'}

In [50]:
# 6.4 Looping over dictionaries:
for key in stu_subjects:
    value = stu_subjects[key]
    print(key, 'is taking', value)

Ali is taking Java
Maged is taking OS
Haytham is taking SE
Sameh is taking Python

In [51]:
# 6.5 Dictionaries as records:
record = {
    'name': 'Ali',
    'subject': 'C#',
    'grade': 'A',
}
print(record['name'],
      'got a grade of', record['grade'],
      'in', record['subject'])

Ali got a grade of A in C#

In [52]:
# 7. Combining Data Types
# 7.1 List of tuples:
student_grades = [
    ('Ali', 'Java', 'A'),
    ('Mohamed', 'C++', 'C'),
    ('Omar', 'ADB', 'B+'),
    ('Malek', 'Apm', 'A-'),
]

student_grades[1]

('Mohamed', 'C++', 'C')

In [53]:
# work with the individual tuples:

student_grades[1][2]

'C'

In [54]:
# 7.2 List of dictionaries
student_grade_records = []
for student_name, subject, grade in student_grades:
    record = {
        'name': student_name,
        'subject': subject,
        'grade': grade,
    }
    student_grade_records.append(record)
    
student_grade_records

[{'name': 'Ali', 'subject': 'Java', 'grade': 'A'},
 {'name': 'Mohamed', 'subject': 'C++', 'grade': 'C'},
 {'name': 'Omar', 'subject': 'ADB', 'grade': 'B+'},
 {'name': 'Malek', 'subject': 'Apm', 'grade': 'A-'}]

In [55]:
# Print one dictionary from list of dictioneris :

student_grade_records[1]

{'name': 'Mohamed', 'subject': 'C++', 'grade': 'C'}

In [56]:
# Work with the individual records:

student_grade_records[1]['grade']

'C'

In [57]:
# 7.3 Dictionary of dictionaries
stu_subjects_grades = {}
for student_name, subject, grade in student_grades:
    record = {
        'subject': subject,
        'grade': grade,
    }
    stu_subjects_grades[student_name] = record
    
stu_subjects_grades

{'Ali': {'subject': 'Java', 'grade': 'A'},
 'Mohamed': {'subject': 'C++', 'grade': 'C'},
 'Omar': {'subject': 'ADB', 'grade': 'B+'},
 'Malek': {'subject': 'Apm', 'grade': 'A-'}}

In [58]:
# Print one dictionery by using student name:
stu_subjects_grades['Ali']

{'subject': 'Java', 'grade': 'A'}

In [59]:
# 7.4 Dictionary with tuple keys
stu_subjects_grades = {}
for student_name, subject, grade in student_grades:
    stu_subjects_grades[student_name, subject] = grade
    
stu_subjects_grades

{('Ali', 'Java'): 'A',
 ('Mohamed', 'C++'): 'C',
 ('Omar', 'ADB'): 'B+',
 ('Malek', 'Apm'): 'A-'}